<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="83.4.2" targetFramework="net472" />
  <package id="cef.redist.x86" version="83.4.2" targetFramework="net472" />
  <package id="CefSharp.Common" version="83.4.20" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="83.4.20" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="83.4.20" targetFramework="net472" />
  <package id="Google.Apis" version="1.48.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.48.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.48.0" targetFramework="net472" />
  <package id="Google.Apis.YouTube.v3" version="1.47.0.2008" targetFramework="net472" />
  <package id="LibVLCSharp" version="3.4.6" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="NAudio" version="1.10.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.MediaFoundation" version="4.2.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Forms" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Wpf" version="3.1.0" targetFramework="net472" />
</packages>